# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Datasets / large artifacts
data/
results/checkpoints/
results/keys/
results/logs/
results/visualizations/
results/visualizations_backup/
results/checkpoints_backup/

# IDE / misc
.DS_Store

models/__pycache__/
utils/__pycache__/
experiments/__pycache__/
datasets/__pycache__/
data/__pycache__/
results/__pycache__/
results/checkpoints/__pycache__/
results/keys/__pycache__/
results/logs/__pycache__/
results/visualizations/__pycache__/
